DATABASE_URL="postgresql://user:password@localhost:5432/talentrank"
TALENTRANK_USE_PRISMA="false"
OPENAI_API_KEY=""
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
OPENAI_EMBEDDING_DIMENSIONS="256"
TALENTRANK_APP_URL="http://localhost:3000"
TALENTRANK_BACKEND_URL=""
NEXT_PUBLIC_BACKEND_URL=""
TALENTRANK_FRONTEND_ONLY="true"
TALENTRANK_EMAIL_PROVIDER=""
TALENTRANK_EMAIL_FROM=""
TALENTRANK_EMAIL_TEST_TO=""
RESEND_API_KEY=""
POSTMARK_SERVER_TOKEN=""
SENDGRID_API_KEY=""
TALENTRANK_EMAIL_WEBHOOK_URL=""
TALENTRANK_EMAIL_WEBHOOK_TOKEN=""
